@import "tailwindcss";

@theme{
    --color-background: rgb(252,249,248);
    --color-primary: rgb(0,10,48);
    --color-secondary: rgb(254,212,136);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}